body {
    padding: 0;
    margin: 0;
    font-family: 'Forum' cursive;
}

/*HERO CONTENT*/
.hero {
    background-color: #F08E80;
    min-height: 90vh;
    color: white;
    display: inline-block;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 24px 32px;
}

.navbar .links a {
    color: white;
    text-decoration: none;
    margin-right: 16px;
    font-size: 1.2rem;
}

.navbar p {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.navbar .contact {
    background-color: white;
    color: #F08E80;
    padding: 16px 24px;
    text-decoration: none;
    

}.navbar .contact:hover {
    opacity: 0.8
}

/*HERO CONTENT*/
.hero-content {
    padding: 0 15%;
}

.tagline {
    font-size: 4.5rem;
    color: white;
    letter-spacing: 2px;
    padding: 32px 0;
}

/*TWO COLUMN SECTION*/
.two-column-section {
    font-size: 2rem;

}

.two-column-section > p {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.two-column-section .skills {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}

.two-column-section .skills li {
    width: 50%;
    float: left;
    font-size: 1.25rem;
    margin: 8px 0;

}

/*BLOG SECTION*/
.blog-section {
    background-color: white;
    padding: 64px 0;

}

.blog-content {
   padding: 0 15%; 
}

.two-column-section .blog-posts {
    width: 50%;
    float: left;
}

.blog-heading {
    font-size: 1.5rem;

}

.blog-text {
    font-size: 1rem;
}

.blog-posts {
    margin-top: 24px;
}

.blog-posts .blog-date {
    font-size: 0.9rem;
    color: grey;
    margin-bottom: 32px;
}

.blog-posts p {
    margin: 8px 0;
}

/*EVENTS SECTION*/
.events-section {
    background-color: #FDF0E6;
    padding: 64px 0;
    display: inline-block;
    width: 100%
}

.events-content {
    padding: 0 15%;
}


.events-card {
    width: 50%;
    float: left;
}

.events-card p {
    margin: 8px 0;
    margin-top: 24px;

}

.events-title {
    font-size: 1.5rem;
}

.events-location {
    font-size: 1rem;

}

.events-card .events-date {
    font-size: 0.9rem;
    color: grey;
    margin-bottom: 32px;

}

/*FOOTER*/
footer {
    background-color: black;
    color: white;
    padding: 60px;
    text-align: center;
    
}

footer img {
    height: 2rem;
    width: 2rem;
    margin: 0 8px;

}








