



.container {
    height: 700px;
    width: 80%;
    margin: 200px auto;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 4px solid black;
    row-gap: 20px;
    column-gap: 20px;
   

}

.box {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid white;
}

.first {
  grid-column-start: 1;
  grid-column-end: 3;  
  grid-row-start: 1;
  grid-row-end: 3;

}

.fifth {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}
