
    


body {
    padding: 0;
    margin: 40px 40px 40px 40px;
    
    
}

h1 {
    color: #c30ef7;
    font-size: 30px;
    line-height: 5px;
}

h2 {
    color: #979398;
    font-size: 20px;
}

h3 {
    color: #c30ef7;
    font-size: 20px;
    line-height: 90px;
    margin: 0;
    
}

h4 {
    line-height: 1px;
    margin: 0;
}

.coffee-cup {
    height: 100px;
    width: 250px;
    border-radius: 10px;
    

}

.calculator {
    height: 100px;
    width: 300px;
    border-radius: 10px;
}

.coffee-cup:hover {
    opacity: 0.5;
}

.swipe {
    height: 100px;
    width: 250px;
    border-radius: 10px;
    border: 3px solid black;
}

.swipe:hover {
    opacity: 0.5;
}


.blog:hover {
    opacity: 0.5;
}


.blog {
    height: 100px;
    width: 250px;
    border-radius: 10px;
    border: 3px solid black;
}



.grid-container {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    max-width: 50%

}

.feature-project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 2px solid black;
    height: 100px;
    width: 250px;
    border-radius: 10px;
}

.links-container {
    display: grid;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 50%;
    margin: 10px;
    

}

.links {
   column-count: 2;
   max-width: 100%;
}

a {
    text-decoration: none;
    
}

ul {
    list-style-type: none;
}


 a:hover {
    font-weight: bold;
    color: blue;
 }

 .course-date {
    display: flex;
   
 }

 .course {
    align-items: flex-start;
 }

 .date {
    align-items: flex-end;
 }
























