
/* BACKGROUND AND CENTERING */
body {
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg, #6A9CD9, #B17DD6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 1rem;
    min-height: 100vh;
}

/*MAIN CONTAINER*/
.container {
    background: white;
    max-width: 1000px;
    width: 75%;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    margin: 100px auto;
}



/*COURSE SECTION*/
.course-header {
    margin-bottom: 1rem;
}

.course-header h2 {
    margin: 0;
}

.provider,
.date {
    display: block;
    font-size: 0.9rem;
    color: #666;
}


/*PROJECTS GRID*/
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

/*PROJECT CARDS*/

.project-column {
    display: flex;
    flex-direction: column;
}
.project-card {
    border: 2px solid #D7C6ED;
    padding: 1rem;
    border-radius:10px;
    margin-bottom: 1rem;
}

.project-card h3 {
    margin: 0;
  
}

.project-card a {
    text-decoration: none;
}

.project-card h3 a:hover {
    color: orangered;
}

.project-card .label {
    color: #a06cd5;
    font-size: 0.9rem;
    margin: 0;
}

.resource-list {
    list-style: none;
    padding-left: 0;
    margin: 1rem;


}

.resource-list li {
    margin: 0.2rem 0;
}

.resource-list a {
    text-decoration: none;
    font-size: 0.9rem;

}

.resource-list a:hover {
    color: orange;
}



h1 {
    color: #000;
    font-weight: 100;
    text-shadow: -3px 3px 1px lightsteelblue;
    letter-spacing: .2em;

   
}

h2 {
    color: darkgrey
}

.divider {
    border-top: 1px solid #CCC;
    margin: 2rem 0;
}

img {
    width: 100%;
    max-width: 6em;
    float: right;
    border-radius: 10px;
    border: 2px solid black;
    
}

summary {
    cursor: pointer;
    font-weight: 600;
    padding: 1rem;
    border-radius: 8px;
}

details[open] summary {
    color: #6B4EFF;
}

span {
    padding-left: 1.2rem
}



