* {
    box-sizing: border-box;
    
}

body{
    padding: 0;
    margin: 0;
}

.container {
    
    justify-content: center;
    align-items: center;

   
}

.calc {
    width: 400px;
    background-color: black;
    color: white;
    margin: 110px 580px;
    
    
}

.screen {
    color: white;
    font-size: 40px;
    font-family: "Courier New", Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #D8D9DB;
    color: black;
    height: 100px;
    width: 24.5%;
    border-radius: 5px;
    
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: #EBEBEB;
}

.calc-button:active {
    background-color: #BBBCBE;
}

.calc-button-double {
    width: 49.7%;
    font-size: 40px;
}

.calc-button-double:hover {
    background-color: #ECBDF3;
}

.triple-button {
    width: 74.6%;
    font-size: 40px;
}

.triple-button:hover {
    background-color: #ECBDF3;
}

calc-button:last-child {
    background-color: #DF974C;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #DFB07E;
}

.calc-button:last-child:active {
    background-color: #DD8D37
}

.calc-button:hover {
   background-color: #ECBDF3;
}

.calc-button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
    

}



.calc-button-row:last-child {
    padding-bottom: 5px;
} 



