
<%- include("header.ejs") %>

<h1>Charley Rees</h1>




 <img class="profile-img" src="images/charley.jpg">
    
    <p>Frontend web developer with five years of experience with Javascript, HTML and CSS to deliver exceptional and 
        immersive customer experiences. Adept at contributing to a highly collaborative work environment, finding solutions 
        and determining customer satisfaction. Exceptional attention to detail, communication skills and experience of working
        within high pressured environments
    </p>



</p>




<%- include("footer.ejs") %>