body {
    background-color: #dda0dd;
    font-family: "Space Mono", monospace;
    font-size: 30px;
    line-height: 1;
    border: 2px solid black;
    border-radius: 20px;
}


span {
    text-shadow: 0 -6.25px #0c2ffb, 0 -9.5px #2cfdfc, 0 6.25px purple;
}

h1 {
    font-weight: 400;
}


h2 {font-size: 50px;
}

p {
    font-size: 20px;

}

div {
    width: 65%;
    margin: 100px 0 0 100px;
}

